# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gpedit
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
        containers:
          main:
            image:
              repository: ghcr.io/pl4nty/web-admx-tool
              tag: latest@sha256:452ff682a9ad0742ea67f8157da36758432a68723e03180d37f1436d96f358da
            env:
              SERVER_PORT: 8080
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - gpedit.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: gpedit
                port: 8080
