# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jsonwebtoken
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
        # broken with newer nginx?
        # pod:
        #   annotations:
        #     instrumentation.opentelemetry.io/inject-nginx: "true"
        containers:
          main:
            image:
              repository: ghcr.io/pl4nty/jsonwebtoken
              tag: latest@sha256:0f17843da78a6e27d58e8a65e2fec243876a436ebccd2b1e882129ab82fefe72
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - jwt.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: jsonwebtoken
                port: 80
