# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: temple-trap
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
        pod:
          annotations:
            instrumentation.opentelemetry.io/inject-java: "true"
        containers:
          main:
            image:
              repository: ghcr.io/pl4nty/temple-trap
              tag: latest@sha256:c54673b72a30ce97ab46836c9d0e309193f37e7b5498e09327e5c28361299fce
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - temple-trap.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: temple-trap
                port: 8080
