# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tenant-lookup
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
        pod:
          annotations:
            instrumentation.opentelemetry.io/inject-nodejs: "true"
        containers:
          main:
            image:
              repository: ghcr.io/pl4nty/tenant-lookup
              tag: latest@sha256:b46a940fef5b0eff2213d9f03f933e876be35a896f1d146fc6b8393777d00b06
            envFrom:
              - secretRef:
                  name: tenant-lookup
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - tenant-lookup.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: tenant-lookup
                port: 3000
