apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    image:
      repository: cloudflare/cloudflared
      tag: 2023.3.1
    args: [tunnel, run,  --post-quantum]
    env:
      TUNNEL_METRICS: 0.0.0.0:2000
      TUNNEL_TOKEN:
        valueFrom:
          secretKeyRef:
            name: tunnel-credentials
            key: token
    resources:
      requests:
        cpu: 10m
        memory: 50Mi
      limits:
        cpu: 500m
        memory: 1Gi
    service:
      main:
        ports:
          http:
            port: 2000
    probes:
      liveness:
          custom: true
          spec:
            httpGet:
              # Cloudflared has a /ready endpoint which returns 200 if and only if
              # it has an active connection to the edge.
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
    # serviceMonitor:
    #   main:
    #     enabled: true
    #     endpoints:
    #     - port: http
    #       interval: 1m
    #       metricRelabelings:
    #       - action: keep
    #         regex: quic.*|cloudflared.*
    #         sourceLabels:
    #         - __name__
# TODO node config on new pools: https://learn.microsoft.com/en-us/azure/aks/custom-node-configuration
# net.core.rmem_max=2048000