# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: backup-github
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  values:
    controllers:
      main:
        pod:
          nodeSelector:
            node.longhorn.io/create-default-disk: config
        type: cronjob
        cronjob:
          schedule: "0 0 * * *"
        containers:
          main:
            image:
              repository: ghcr.io/josegonzalez/python-github-backup
              tag: 0.46.0
            args:
              - pl4nty
              - --token-fine
              - file:///usr/token
              - --incremental
              - --output
              - /usr/backup
              # - --all includes --assets, which crashes on azure-favicons
              - --starred
              - --watched
              - --followers
              - --following
              - --issues
              - --issue-comments
              - --issue-events
              - --pulls
              - --pull-comments
              - --pull-commits
              - --pull-details
              - --labels
              - --hooks
              - --milestones
              - --repositories
              - --bare
              - --lfs
              - --wikis
              # gists are uninitialized and cause crash? maybe fine-grained tokens aren't supported
              # - --gists
              - --private
              - --fork
              - --releases
    persistence:
      config:
        accessMode: ReadWriteOnce
        size: 16Gi
        globalMounts:
          - path: /usr/backup
      token:
        type: secret
        name: backup-github
        globalMounts:
          - path: /usr/token
            subPath: token
