# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        pod:
          nodeSelector:
            node.longhorn.io/create-default-disk: config
            kubernetes.io/arch: arm64
        type: statefulset
        rollingUpdate:
          unavailable: "0"
        #   # incompatible boto3 version as of 2023.6.3. can only specify image at collector level
        #   # eg open-telemetry/opentelemetry-operator#1774
        #   annotations:
        #     instrumentation.opentelemetry.io/inject-python: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.6.3
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
    persistence:
      config:
        accessMode: ReadWriteOnce
        size: 4Gi
        globalMounts:
          - path: /config
    service:
      main:
        controller: main
        ports:
          http:
            port: 8123
      local:
        enabled: true
        controller: main
        type: LoadBalancer
        annotations:
          external-mdns.blakecovarrubias.com/hostnames: homeassistant
        ports:
          http:
            port: 8123
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - home-assistant.${PRIVATE_DOMAIN}
        rules:
          - backendRefs:
              - name: home-assistant-main
                port: 8123
