# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.3.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: your-spotify
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: true
      enableServiceLinks: true
      # nodeSelector:
      #   kubernetes.io/arch: arm64
    controllers:
      # Server
      main:
        strategy: &strat RollingUpdate
        rollingUpdate: &ru
          unavailable: 0
        # pod: &pod
        #   annotations:
        #     instrumentation.opentelemetry.io/inject-nodejs: "true"
        containers:
          main:
            image:
              repository: yooooomi/your_spotify_server
              tag: 1.13.1
            env:
              TIMEZONE: ${TIMEZONE}
              API_ENDPOINT: https://spotify-api.${PUBLIC_DOMAIN}
              CLIENT_ENDPOINT: &client https://spotify.${PUBLIC_DOMAIN}
              CORS: *client
              MONGO_ENDPOINT: mongodb://your-spotify-mongodb:27017/your_spotify
            envFrom:
              - secretRef:
                  name: your-spotify
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              limits:
                ephemeral-storage: 200Mi
      client:
        strategy: *strat
        rollingUpdate: *ru
        # pod: *pod
        containers:
          main:
            image:
              repository: yooooomi/your_spotify_client
              tag: 1.13.1
            env:
              TIMEZONE: ${TIMEZONE}
              API_ENDPOINT: https://spotify-api.${PUBLIC_DOMAIN}
            probes: *probes
            resources:
              limits:
                ephemeral-storage: 200Mi
      mongodb:
        type: statefulset
        # default, but there's a bug where statefulset is null by default
        # so statefulset.podManagementPolicy reference fails
        rollingUpdate: *ru
        statefulset:
          podManagementPolicy: OrderedReady
        containers:
          main:
            image:
              repository: docker.io/library/mongo
              tag: 6.0.27-jammy
            probes: *probes
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            port: 8080
      client:
        controller: client
        ports:
          http:
            port: 3000
      mongodb:
        controller: mongodb
        ports:
          http:
            port: 27017
    persistence:
      config:
        accessMode: ReadWriteOnce
        size: 4Gi
        advancedMounts:
          mongodb:
            main:
              - path: /data/db
    route:
      main:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - spotify-api.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: your-spotify
                port: 8080
      client:
        parentRefs:
          - namespace: default
            name: ${CLUSTER_NAME}
        hostnames:
          - spotify.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
              - name: your-spotify-client
                port: 3000
